<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.game.mapper.GameInfoMapper">
	<select id="selectGameInfoList" resultType="com.game.vo.GameInfoVO">
		SELECT * FROM game_info
	</select>
	
	<select id="selectGameInfoOne" resultType="com.game.vo.GameInfoVO">
		SELECT * FROM GAME_INFO WHERE GI_NUM = #{giNum}
	</select>
</mapper>